<html>
<!--
//기능: 날짜, 좋아요, 삭제(신고)
//필요 페이지: 메인페이지, 사진보여주는페이지, 글작성페이지, 로그인페이지 (4)
-->
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="/assets/upload.css" />
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="/assets/script.js"></script>
</head>
  <body id="body">
    <div class="container" id="container">



<!-- HEADING -->
      <div class="heading">
        <%= image_tag ("logo.png"), id: "logo" %>
        <hr />
        <ul class="flex-container">
          <li class="flex-item">
            <a href="/" class="selected">home</a>
          </li>
          <li class="flex-item">
            <a href="#" class="btn_toggle"> upload </a>
          </li>
          <li class="flex-item">
            <% if current_user %>
              <a href="/signout" >logout</a>
            <% else %>
              <a href="/signin" id="login">login</a>
            <% end %>
          </li>
          <li class="flex-item">
             <% if current_user %>
          <%=current_user.name =%>님 안녕하세요 ! 
          </li>
            <% end %>

        </ul>
        <hr />
      </div>


    <%= form_for(@pet) do |f| %>
            <div class="upload">
            <% if current_user %>
              <%= f.file_field :image, :class => "image" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <input type="submit" name="submit" class="submitFile" value="UPLOAD IMAGE">
            <% else %>
            you should login first
            <% end %>
            </div>
    <% end %>

<!-- IMAGE MANSONRY -->
      <div class="masonry">
        <% @pets.each do |pet| %>
        <div class="item1">
            <%= image_tag (pet.image) %>
          <div class="img-caption1 bottom-top1">
            <% if current_user %>
              <% if current_user.is_Like?(pet) %>
                <%= link_to t(:heart_html), pet_like_path(pet), method: "post", class: "symbol-size" %>
              <% else %>
                <%= link_to t(:heartempty_html), pet_like_path(pet), method: "post", class: "symbol-size" %>
              <% end %>
              <% if current_user.is_Report?(pet) %>
<<<<<<< HEAD
                <%= link_to 'Cancel', pet_report_path(pet), method: "post", class: "symbol-size" %>
                <% else %>
                <%= link_to 'Report', pet_report_path(pet), method: "post", class: "symbol-size" %>
=======
                <%= link_to t(:flag_html), pet_report_path(pet), method: "post", style: "text-decoration:none" %>
                <% else %>
                <%= link_to t(:flagempty_html), pet_report_path(pet), method: "post", style: "text-decoration:none" %>
>>>>>>> 14f5e93cb04c9d28139ba78e7be3686ab164b3ee
              <% end %>
              <% if current_user.id == pet.user_id %>
                <%= link_to t(:destroy_html), pet, method: :delete, data: {confirms: 'Are you sure?'}, class: "symbol-size" %>
              <% end %>
            <% end %>
          <br>
            <%= pet.likes.count %>명이 좋아합니다.
          <br>
          </div>
        </div>
      <% end %>
      </div>


    </div>
  </body>
</html>