<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Image:</strong>
<%= image_tag @pet.image.thumb.url %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %>
<%= link_to 'Back', pets_path %>

<% if current_user.is_Like?(@pet) %>
<%= link_to 'Like_yes', pet_like_path(@pet), method: "post" %>
<% else %>
<%= link_to 'Like_no', pet_like_path(@pet), method: "post" %>
<% end %>

<% if current_user.is_Report?(@pet) %>
<%= link_to 'Report_yes', pet_report_path(@pet), method: "post" %>
<% else %>
<%= link_to 'Report_no', pet_report_path(@pet), method: "post" %>
<% end %>